extends layout
block content
  h1= title
  form(id='vehicleForm', action="/resource/vehicles", class="p-5 mb-5 bg-info col-lg-6 offset-lg-3 justify-content-center" method="POST")
    br 
    div.form-group
      label.vehicleAttr(for='vehicle_Brand') <b><i>Vehicle Brand</i></b>
      input#vehicle_Brand(type='text', name='vehicle_Brand' placeholder="Enter vehicle brand")
    br
    div.form-group
      label.vehicleAttr(for='vehicle_model') <b> <i>Vehicle Model</i></b>
      input#vehicle_model(type='text', name='vehicle_model' placeholder="Enter vehicle model")
    br
    div.form-group
      label.vehicleAttr(for='vehicle_price') <b> <i>Vehicle Price</i></b>
      input#vehicle_price(type='number', name='vehicle_price' placeholder="Enter vehicle price")
    br 
    input(type="submit" class="btn btn-secondary")
  script.
    document.forms['vehicleForm'].addEventListener('submit', (event) => {
    event.preventDefault();
    // TODO do something here to show user that form is being submitted
    fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
    return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
    alert("Save succeded")
    // TODO handle body
    }).catch((error) => {
    // TODO handle error
    alert("Save failed " + error )
    });
    });