body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.vehicleAttr {
  background-color: aquamarine;
  width: 200px;
 }

#vehicle_Brand {
  border-color: #04ba71;
  box-shadow: 0 0 0 0.2rem #04ba71;
  box-sizing: border-box;
} 

#vehicle_model {
  border-color: #04ba71;
  box-shadow: 0 0 0 0.2rem #04ba71;
  box-sizing: border-box;
} 

#vehicle_price {
  border-color: #04ba71;
  box-shadow: 0 0 0 0.2rem #04ba71;
  box-sizing: border-box;
} 